<%- include('../partials/header'); %>

<main class="main" id="404Main">
    <div class="container">
        <img src="https://y.yarn.co/68e3fa8b-4d7e-43cf-a06e-704230b41584_text.gif" alt="404 error gif" class="img-fluid d-block mx-auto">
        <p class="text-center">Move along.</p>
    </div>
</main>

<%- include('../partials/footer'); %>